*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway',sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
p{
    font-size: 14px;
}
.section-title{
    padding-bottom: 50px;
    padding-top: 90px;
}
.section-title h2{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title p{
    color:#333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
.col-md-12 img{
    padding-top: 20px;
    height: 60px;
    width: 200px;
    padding-left: 15px;
    
    
}
.header{
    background-image: url("../images/mobile-phone-1875813_1280.webp");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}
.header-overlay{
    background-color: rgba(31,31,31,0.75);
}
.logo{
    padding-bottom: 40px;
}
.header-txt h1{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    bottom: 100;
    text-transform: uppercase;
}
.header-txt p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;
    text-transform: uppercase;
}
.header-btns{
    margin-top: 50px;
    margin-bottom: 50px;
}
.btn-download,
.btn-download:focus,
.btn-download:active,
.btn-download:visited
{
    background: transparent;
    border-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 1s;
    transition: red;
}
.btn-download:hover{
    background-color:;
    color: red;
}
.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited{
    color: #fff;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    transition: all 1s;
}
.btn-tour:hover{
    color: red;
}
.btn-tour i{
    font-size: 20px;
    padding-left: 5px;
    color:dodgerblue;
}
.header-iphone img{
    width: 90%;
    height: 90%;
    padding-bottom: 30px;
}

.choose-us-wrapper{
    padding-top: 50px;
}
.about-iphone img{
    width: 100%;
    height: 100%;
    padding-bottom: 180px;
    padding-right: 60px;
    top:0;
    
}
.choose-us-title h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
    line-height: 37px;
    position:relative;
}
.choose-us-title h2:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 90px;
    height: 1px;
    background-color: #129cf3;
    
}
.choose-us-title p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}
.choose-us-item{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.choose-us-item div{
    position: absolute;
    top:0;
    left:0;
}
.choose-us-item div i{
    font-size: 55px;
    color: #129cf3;
    transition: all 2s;

}

.choose-us-item h3{
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.choose-us-item p{
    color:#727272;
    font-size: 15px;
}
/*features*/
.abc h1{
    text-align: center;
     position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.abc p{
    color:#333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;

}
.feature-inner-wrapper{
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-features{
    position: relative;
    padding-right: 90px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.left-feature-icon{
    position: relative;
    font-size: 40px;
    color: #129cf3;
   top: 107px;
    right: 0;
    left: 270;
     width: 90px;
    height: 90px;
    text-align: center;
   
}
.left-features h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #333;
    margin-bottom: 3px;

}
.left-features p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.feature-iphone img{
    padding-top: 90px;
    height: 100%;
    width: 100%;
}
.right-features{
    position: relative;
    padding-left: 90px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.right-feature-icon{
    position: relative;
    font-size: 40px;
    color: #129cf3;
   top: 107px;
    right: 90;
     width: 90px;
    height: 90px;
    text-align: center;
   
}
.right-features h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #333;
    margin-bottom: 3px;

}
.right-features p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
/*purchase-now*/
.purchase-now{
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.purchase-now p{
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
.btn-purchase-now,
.btn-purchase-now:active,
.btn-purchase-now:focus,
.btn-purchase-now:visited{
    background-color: #129cf3;
    border: 1px solid #129cf3;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    transition: all 1s;
}
.btn-purchase-now:hover{
    background-color: #127481;
    border-color: 316890;
}
/*counter*/
.counter{
    background-image: url("../images/gilles-lambert-pb_lF8VWaPU-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: ;
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
}
.counter-overlay{
    background-color: rgba(31,31,31,0.75);
}
.counter-item i{
    color: #129cf3;
    font-size: 60px;
}
.counter-item h2{
    font-family: "Source Sans Pro", sans-serif;
    color: #d7dadb;
    font-weight: 700;
    text-transform:uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
    
}
.counter-item p{
    font-family: "Source Sans Pro", sans-serif;
    color: #d7dadb;
    font-weight: 300;
    text-transform:uppercase;
    font-size: 20px;
    margin-top: 0px;
}
/* download now*/
.download-now img{
    height: 100%;
    width: 80%;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.available-now{
    background-color: #1a1a1a;
    position: relative;
}
.available-title{
    padding-top: 75px;
}
.available-title h2{
    color: #fff;
    font-size: 38px;
}
.available-title p{
    color: #b5b5b5;
}


.available-on-item{
    text-align: center;
    border-left: 1px solid #8f1217;
    height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;    
}
.available-on-item:hover{
    background-color: #121212;
}
.available-on-item i{
    color: #129cf3;
    text-align: center;
    font-size: 40px;
    padding-top: 90px;
    transition: all 1s;
    opacity: 1;
}
.available-on-item:hover i{
    opacity: 0;
}
.available-on-inner{
    position: absolute;
    bottom: 93px;
    widows: 100%;
    opacity: 0;
    transition: all 1s;
}
.available-on-inner h2{
    text-align: center;
    font-weight: 300;
    color: #d7dadb;
    font-size: 16px;
    
}
.available-on-item:hover div.available-on-innner{
    opacity: 1;
}
/*contact us*/
.contact-us-form .form-control{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 23px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity:;
    outline: 8px;
    transition: all 1s;
}
.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited{
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 18px;
    color: #555;
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: ;
    outline: 8px;
    transition: all 1s;
}











